target/
sdk/
lib/
.idea/
bin/
conf/config.toml
gm/conf/config.toml
conf/client_config.toml
contracts/contracthistory.toml
gm/contracts/contracthistory.toml
contracts/contract.toml
Cargo.lock
log/
*.signatures
*.def
*.bin
*.bin-runtime
*.exe
*.lib
*.dll
*.dylib
*.a
*.so
*.ini 
*.pem
*.crt
*.key
gm/
*.log
*.abi
*.toml
