target/
sdk/
lib/
.idea/
conf/config.toml
gm/conf/config.toml
conf/client_config.toml
contracts/contracthistory.toml
gm/contracts/contracthistory.toml
contracts/contract.toml
Cargo.lock
log/
*.signatures
*.bin
*.bin-runtime
*.exe
*.dll
*.a
*.so
*.ini 
*.pem
*.crt
*.key
gm/
*.log
