[chain]
    chainid=1
    groupid=1
	crypto="ECDSA" 
    accountpem="gm/conf/client.pem"
	protocol="RPC"

[contract]
contractpath="gm/contracts"

[rpc]
	url="http://127.0.0.1:8545"
	timeout = 3 


[channel]
    ip = "127.0.0.1"
    port = 20200
    tlskind = "ECDSA"
	timeout=10
	nativelib_echo_mode = 0
    cacert= "sdk/ca.crt"
    sdkcert = "sdk/sdk.crt"
    sdkkey = "sdk/sdk.key"
    gmcacert= "gm/sdk/gmca.crt"
    gmsdkcert = "gm/sdk/gmsdk.crt"
    gmsdkkey = "gm/sdk/gmsdk.key"
    gmensdkcert = "gm/sdk/gmensdk.crt"
    gmensdkkey = "gm/sdk/gmensdk.key"


